.panel.panel-default
  .panel-heading
    | {{user | slackName || user}}
  .panel-body
    ul.list-group
      li.list-group-item(
        ng-repeat="(date, data) in knowledge")
        | {{date | date}}: {{data.happydex}}
