doctype html
html(lang="en")
    head
        title
        script(src="/node_modules/angular2/bundles/angular2-polyfills.js")
        script(src="node_modules/systemjs/dist/system.src.js")
        script(src="/node_modules/rxjs/bundles/Rx.js")
        script(src="/node_modules/angular2/bundles/angular2.dev.js")

        script(src="/system.config.js")

        link(rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")


    body
        happybot Loading...
